@tailwind base;
@tailwind components;
html, body {
  @apply h-full w-full
}
body {
  @apply bg-gray-50
}
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Hahmlet&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Hahmlet','Josefin Sans','Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
